.span-logo {
  color: #3b82f6;
}

.nav-bar {
  width: 100vw;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e30;
}

.nav-links-container {
  width: 150px;
  list-style: none;
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Bree Serif';
  font-weight: 400;
  font-size: 20px;
  color: #f8fafc;
}

.link-style {
  text-decoration: none;
  color: #f8fafc;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .span-logo {
    color: #3b82f6;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    background-color: #1e1e30;
    width: 100vw;
    height: 70px;
    justify-content: space-between;
  }

  .nav-links-container {
    display: flex;
    list-style: none;
    color: #f8fafc;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    width: 200px;
    justify-content: space-between;
    margin-right: 150px;
  }

  .logo {
    font-family: 'Bree Serif';
    font-weight: 400;
    font-size: 24px;
    color: #f8fafc;
    margin-left: 50px;
  }

  .link-style {
    text-decoration: none;
    color: #f8fafc;
    cursor: pointer;
  }
}
